.navbar 
    img.logo
        border-radius: 0

.custom-block
    .title
        font-weight: 600

.footer-wrapper.footer
    display: none

.personal-info-wrapper .personal-img
    border-radius: 0 !important

html.dark
    code
        color: #c1f1f0 !important

// #valine
//     .vpower.txt-right,.vempty
//         display none !important

// highlight 
span.token
    $type=#569cd6
    $varible=#4fc1ff
    $attr=#9cdcfe
    $method=#dcdcaa
    $str=#cd9077
    $keyword=#c586c0
    $comment=#5b804a
    $regex=#d16969
    $jiankuohao=#808080
    $number=#b5cea8
    $class=#4ec9b0
    $selector=#d7ba7d
    &.variable
        color: $attr
    &.string
        color: $str
    &.number
        color: $number
    &.function
        color: $method
    &.class-name
        color: $class
    &.keyword
        color: $keyword
    &.boolean
        color: $type
    &.parameter
        color: $varible
    &.punctuation
        color: $attr
    &.function-variable
        color: $method
    &.template-string
    &.constant
        color: $type
    &.interpolation
        color: $attr
    &.interpolation-punctuation
        color: $type
    &.regex
        color: $regex
    &.regex-flags
        color: $type
    &.selector
        color: $selector
    &.property
        color: $attr
    &.attr-name
        color: $attr
    &.attr-value
        color: $str
        .punctuation
            color: $str
        .attr-equals
            color: #fff
    &.builtin
        color: $class