@require('./highlight')

.navbar 
    img.logo
        border-radius: 0

.custom-block
    .title
        font-weight: 600

.footer-wrapper.footer
    display: none

.personal-info-wrapper .personal-img
    border-radius: 0 !important

html.dark
    code
        color: #c1f1f0 !important   

@media (min-width: $MQMobileNarrow)
    .custom-block.row
        display: flex
        &>*
            flex-grow: 0.2
            margin: 0 2px
            overflow: hidden
            transition: all 0.5s ease-in-out
            &:hover
                flex-shrink:0.4
            pre.language-zsh
                height: calc(100% - 2.1em)
                margin: 0
            &:last-child
                flex-grow: 1

// #valine
//     .vpower.txt-right,.vempty
//         display none !important

// highlight 