div[class*="language-"]:hover
  .copy-code-button
    transform: scale(1)

.copy-code-button
  transform: scale(0)
  width 32px
  height 32px
  padding 7px 8px
  border-radius 50%
  color #fff
  background #3eaf7c;
  outline none
  border-width 0
  transition: all 0.5s

  &:hover
    cursor pointer !important
    background #4ebf8c
    transform: scale(1.5)!important

  div[class*='language-'] &
    position absolute
    right -14px
    bottom -14px
    z-index 100

    @media (max-width $MQMobileNarrow)
      right -2px
      border-top-right-radius 50% 20%
      border-bottom-right-radius 50% 20%

  svg
    fill currentColor
    width 100%
    height 100%  